/* Write your CSS here */
.configuration-container {
  background-color: #475569;
  padding: 20px;
  height: 20%;
}
.checkBox-container {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
}
.head {
  color: #ffffff;
}
.label {
  color: #ffffff;
}
